li{
    background-color: lightblue;
}
button{
    background-color: darkred;
}
h2{
    background-color: lightgreen;
    color: green;
    margin-left:150px;
}
h3{
    color: red;
}
body{
    background-color: red
     background-image: url: https://wallpapercave.com/wp/UOCTkDb.jpg
}
